html {
    background: url(imgs/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

kbd {
    font-size: 3rem;
}

.keys {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.key {
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
    background-color: whitesmoke;
    background-image: linear-gradient(#e8e8e8 0%, #928c8c 100%);
    padding: 25px;
    flex-shrink: 0.8;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    filter: drop-shadow(3px 2px 3px rgba(2, 2, 2, 0.4));
}

.keytext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.playing {
    transform: translate(6px,6px);
    border: 2px solid yellow;
}